<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VendingMachine 2021</title>
  <link rel="stylesheet" type="text/css" href="styles/table_style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<section id="vending-machine">
  <div id="theMachine">
  <div id="window">
    <table id="productScreen" >
      <tr>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="123" src="images/coke.jfif" alt="Bottle of Coke" width="100" height="100">
            <p>code:123</p>
          </div>
        </td>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="137" src="images/cokeZero.jpg" alt="Bottle of Coke zero" width="100" height="80">
            <p>code:137</p>
          </div>
        </td>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="158" src="images/fanta.jpg" alt="Bottle of fanta" width="100" height="80">
            <p>code:158</p>
          </div>
        </td>
        <tr>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="267" src="images/h2go.jpg" alt="Bottle of h2go" width="100" height="80">
            <p>code:267</p>
          </div>
        </td>
        <td>
          <div class="products" v-if="hasProductData">
            <img  id="289" src="images/landp.jpg" alt="Bottle of l and p" width="100" height="80">
            <p>code:289</p>
          </div>
        </td>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="254" src="images/powerade.jfif" alt="Bottle of powerade" width="100" height="80">
            <p>code:254</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="312" src="images/sparkWater.jfif" alt="Bottle of sparkling water" width="100" height="80">
            <p>code:312</p>
          </div>
        </td>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="356" src="images/sprite.jpg" alt="Bottle of sprite" width="100" height="80">
            <p>code:356</p>
          </div>
        </td>
        <td>
          <div class="products" v-if="hasProductData">
            <img id="380" src="images/water.jfif" alt="Bottle of water" width="100" height="80">
            <p>code:381</p>
          </div>
        </td>
      </tr>   
      </table>
      <div id="productDispenser">
          <div v-if="theVM.hasMoney">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'Coke'" src="images/coke.jfif" alt="Bottle of Coke" width="100" height="100" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'Coke Zero'" src="images/cokeZero.jpg" alt="Bottle of Coke zero" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'Fanta'" src="images/fanta.jpg" alt="Bottle of fanta" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'H2GO'" src="images/h2go.jpg" alt="Bottle of h2go" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'L&P'" src="images/landp.jpg" alt="Bottle of l and p" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'Powerade'" src="images/powerade.jfif" alt="Bottle of powerade" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'Spark Kiwi Blue'" src="images/sparkWater.jfif" alt="Bottle of sparkling water" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'Sprite'" src="images/sprite.jpg" alt="Bottle of sprite" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
            <img class="dispensedProduct" v-if="theVM.selectedProduct.name === 'Kiwi Blue'" src="images/water.jfif" alt="Bottle of water" width="100" height="80" draggable="true" ondragstart="dragstart_handler1(event)">
          </div>
      </div>

  </div>

  <div id="interface">
    <div id="interfaceScreen">
      <p>{{this.keyCode}}</p>
      <p v-if="choseProduct">{{this.theProductName}} {{this.theProductPrice}}c</p>
      <p>{{this.inputAmount}}</p>
    </div>
    <table id="keypad">
      <tr>
      <td><input class="keys" type="button" value="1" v-on:click="addkey('1')"></td>
      <td><input class="keys" type="button" value="2" v-on:click="addkey('2')"></td>
      <td><input class="keys" type="button" value="3" v-on:click="addkey('3')"></td>
    </tr>
    <tr>
     <td><input class="keys" type="button" value="4" v-on:click="addkey('4')"></td>
      <td><input class="keys" type="button" value="5" v-on:click="addkey('5')"></td>
      <td><input class="keys" type="button" value="6" v-on:click="addkey('6')"></td>
    </tr>
    <tr>
      <td><input class="keys" type="button" value="7" v-on:click="addkey('7')"></td>
      <td><input class="keys" type="button" value="8" v-on:click="addkey('8')"></td>
      <td><input class="keys" type="button" value="9" v-on:click="addkey('9')"></td>
    </tr>
    <tr>
      <td><input class="keys" type="button" value="OK" v-on:click="okClick"></td>
      <td><input class="keys" type="button" value="0" v-on:click="addkey('0')"></td>
      <td><input class="keys" type="button" value="EXIT" v-on:click="exitPressed"></td>
    </tr>
    </table>
 

  <div id="target" ondrop="drop_handler(event)" ondragover="dragover_handler(event)">
    <img src="images/insertCoin.png" alt="insert coin image" width="100" height="80">
  </div>

  <div id="changeDispense">
    <p v-if="theVM.hasChange">Change:<br>{{this.theVM.change}}</p>
  </div>
  </div>
 </div>


  <div id="customerCoinProduct">

    <div v-if="hasCustomerData" id="customerBox">
      <h2>Customer {{selectedCustomerID}}</h2>
      <img v-if="arrowImg === 1" id="arrow1" src="images/arrow.png" alt="green arrow" height="80" width="150">
      <select v-on:change="customerSelected($event)" name="Customers" id="customers">
        <option>Select Customer</option>
        <option v-for="customer in getCustomers()" v-bind:value="customer.id" id="selectedCustomer">{{customer.id}}</option>
      </select>
      <img v-if="arrowImg === 4" id="arrow4" src="images/arrow.png" alt="green arrow" height="80" width="150">
      <img id="backpack" src="images/backpack.jfif" alt="blue backpack" ondrop="drop_handler1(event)" ondragover="dragover_handler1(event)" width="200" height="230">
    </div>

      <div v-if="hasCoinData" id="coins">
        <img v-if="arrowImg === 3" id="arrow3" src="images/arrow.png" alt="green arrow" height="80" width="150">
        <div>
          <img id="coin2" src="images/coin2.jfif" alt="Two dollar coin" draggable="true" ondragstart="dragstart_handler(event)" width="60" height="60">
        </div>
        <div>
          <img id="coin1" src="images/coin1.jpg" alt="one dollar coin" draggable="true" ondragstart="dragstart_handler(event)" width="56" height="56">
        </div>
        <div>
          <img id="coin50" src="images/coin05.jpg" alt="fifty cent coin" draggable="true" ondragstart="dragstart_handler(event)" width="54" height="54">
        </div>
        <div>
          <img id="coin20" src="images/coin02.jfif" alt="Twenty cent coin" draggable="true" ondragstart="dragstart_handler(event)" width="50" height="50">
        </div>
        <div>
          <img id="coin10" src="images/coin01.jpg" alt="Ten cent coin" draggable="true" ondragstart="dragstart_handler(event)" width="45" height="45">
        </div>
      </div>
     
      <div v-if="pressedButton">
        <button id="prePopulateBtn" type="button" v-on:click="prePopulate">Fill Vending Machine</button>
      </div>
  <div id="objectValues">
    <img v-if="arrowImg === 2" id="arrow2" src="images/arrow.png" alt="green arrow" height="80" width="150">
    <div id="customerValues">
      <table>  
        <tr class="objectTables">
          <th colspan="2">Customer</th>
        </tr>
        <tr class="objectTables">
        <td>ID</td>
        <td>Amount</td> 
        </tr> 
          <tr class="objectTables" v-for="customer in getCustomers()">
          <td>{{customer.id}}</td>
          <td>{{customer.amount}}c</td>
        </tr>
      </table>
    </div>

  <div id="productValues">
    <table>
      <tr class="objectTables">
        <th colspan="4">Products</th>
      </tr>
      <tr class="objectTables">
        <td>Code</td>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
      </tr>
        <tr class="objectTables" v-for="product in getProducts()">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}c</td>
          <td>{{product.quantity}}</td>
      </tr>   
      </table>

      
  </div>

  <div id="coinValues">
    <table> 
      <tr class="objectTables">
      <th colspan="2">Coins</th>
      </tr>
      <tr class="objectTables">
      <td>Value</td>
      <td>Quantity</td>
      </tr>
      <tr class="objectTables"  v-for="coin in getCoins()">
      <td>{{coin.value}}c</td>
      <td>{{coin.amount}}</td>
      </tr> 
    </table>
  </div>
</div>
</div>
</section>



 


  <script src='View.js'></script>

  <script src="src/VendingMachine.js"></script>

  <script src="src/Coin.js"></script>

  <script src ="src/Product.js"></script>

  <script src ="src/Customer.js"></script>

  <script>
    function dragstart_handler(ev) {
     // Add the target element's id to the data transfer object
     ev.dataTransfer.setData("coin", ev.target.id);
     ev.dataTransfer.effectAllowed = "move";

    }
    function dragover_handler(ev) {
     ev.preventDefault();
     ev.dataTransfer.dropEffect = "move"
    }
    function drop_handler(ev) {
     ev.preventDefault();
     // Get the id of the target and add the moved element to the target's DOM
     const data = ev.dataTransfer.getData("coin");
      app.coinValue = data
      console.log(app.coinValue)
      let coinInsert = new Audio('sounds/coinInsert.wav');
      coinInsert.play();
      app.coinDeposited()
     }

     function dragstart_handler1(ev) {
     // Add the target element's id to the data transfer object
     ev.dataTransfer.setData("coin", ev.target.id);
     ev.dataTransfer.effectAllowed = "move";

    }
    function dragover_handler1(ev) {
     ev.preventDefault();
     ev.dataTransfer.dropEffect = "move"
    }
    function drop_handler1(ev) {
     ev.preventDefault();
     // Get the id of the target and add the moved element to the target's DOM
      app.clearScreen()
     let bagZipper = new Audio('sounds/bagZipper.wav');
      bagZipper.play();
      app.arrowImg += 1
     }
    </script>



  <script>
    var app = new Vue({
      el: '#vending-machine',
      data: {
        arrowImg: 0,
        theProductName: '',
        theProductPrice: '',
        inputAmount: '',
        coinValue: '',
        keyCode: '',
        code: '',
        choseProduct: false,
        hasKey: false,
        hasProductData: false,
        hasCoinData: false,
        hasCustomerData: false,
        selectedProductID: '',
        selectedProduct: '',
        selectedCustomerID: "select",
        selectedCustomer:'',
        pressedButton: true,
        theVM: new VendingMachine()

        },
        methods: {
          prePopulate: function() {
	        this.theVM.addProduct(123, 'Coke', 300, 20)
	        this.theVM.addProduct(137, 'Coke Zero', 300, 15)
	        this.theVM.addProduct(158, 'Fanta', 300, 18)
	        this.theVM.addProduct(267, 'H2GO', 240, 12)
	        this.theVM.addProduct(289, 'L&P', 270, 8)
	        this.theVM.addProduct(254, 'Powerade', 320, 10)
	        this.theVM.addProduct(312, 'Spark Kiwi Blue', 230, 15)
	        this.theVM.addProduct(356, 'Sprite', 300, 7)
	        this.theVM.addProduct(381, 'Kiwi Blue', 300, 15)
          this.theVM.addCoin('coin2', 200, 30)
	        this.theVM.addCoin('coin1', 100, 30)
	        this.theVM.addCoin('coin50', 50, 30)
          this.theVM.addCoin('coin20', 20, 30)
          this.theVM.addCoin('coin10', 10, 30)
	        this.theVM.addCustomer(15, 400)
	        this.theVM.addCustomer(12, 600)
	        this.theVM.addCustomer(13, 1000)
	        this.getProducts()
	        this.getCoins()
	        this.getCustomers()
          this.pressedButton = false
          this.hasCustomerData = true
          this.hasCoinData = true
          this.hasProductData = true
          this.sayMessage("Welcome to Arah Vending Machine, please select a Customer.")
          this.arrowImg += 1
        },

        getProducts: function () {
          return this.theVM.allMyProducts
        },
        getCoins: function () {
          return this.theVM.allMyCoins
        },
        getCustomers: function () {
          return this.theVM.allMyCustomers
        },
        customerSelected(event) {   
         // console.log(event.target.value)
          this.selectedCustomerID = Number(event.target.value)
          //console.log(this.selectedCustomerID)
          this.theVM.selectedCustomer = this.theVM.findCustomer(this.selectedCustomerID)
          //console.log(this.theVM.selectedCustomer)
          //console.log(this.theVM.selectedCustomer.amount)
          this.sayMessage("Hello Customer " +  this.theVM.selectedCustomer.id + " Please key in the your desired product")
          this.arrowImg +=1
        },

        purchaseProduct: function(){
          this.theVM.purchase = this.inputAmount
          if (this.theVM.purchase > this.theVM.selectedCustomer.amount) {
            alert('The Customer doesnt have that much money')
          
        }
          else {
          this.theVM.conditionsOfPurchase()
          this.theProductPrice = ''
          this.inputAmount = ''
          this.code = ''
          this.keyCode = ''
          this.choseProduct = false
          this.hasKey = false
            }
          if (this.theVM.hasMoney){
            console.log(this.selectedProductID)
            let productDrop = new Audio('sounds/productDrop.wav');
            productDrop.play();
            this.sayMessage("Thank you Enjoy your " + this.theProductName + " Don't forget to put it in your backpack")
            this.arrowImg += 1       
          }
          else if (this.theVM.noMoney){
            this.sayMessage("You have not inserted enough money, come back when you have enough")
            this.theVM.change = this.theVM.purchase
            this.theVM.hasChange = true
            
          }
          },

          okClick: function(){
            let choseCustomer = true
            let inputCoin = true
            if (this.selectedCustomerID == "select") {
            alert('please select a Customer')
            choseCustomer = false

            }
            if (this.inputAmount == '') {
              alert('Please insert a Coin')
              inputCoin = false
            }
            if (choseCustomer && inputCoin) {
              this.purchaseProduct()           
            }
          
          },
  
        checkKeyCode: function() {
         if (this.keyCode.length == 3) {
            this.hasKey = true
            this.code = this.keyCode
            this.selectedProductID = Number(this.code)
            this.theVM.selectedProduct = this.theVM.findProduct(this.selectedProductID)
            this.theProductPrice = this.theVM.selectedProduct.price
            this.theProductName = this.theVM.selectedProduct.name
            this.choseProduct = true
            this.sayMessage("You have chosen " + this.theProductName + " Please insert " + this.theProductPrice + " cents and press ok to purchase")
            this.arrowImg +=1
           }
         },
         addkey: function(num){
         this.keyCode = this.keyCode + num
         console.log(this.keycode)
         this.checkKeyCode()
         },
         exitPressed: function() {
         this.theVM.change = this.inputAmount
         this.theVM.hasChange = true
         this.sayMessage("Are my products not good enough?")
         },
         coinDeposited: function() {
          console.log(this.theVM.allMyCoins)
          this.theVM.insertedCoin = this.theVM.findCoin(this.coinValue)
          console.log(this.theVM.insertedCoin)
          this.inputAmount = Number(this.inputAmount) + this.theVM.insertedCoin.value
        },
        clearScreen: function(){
          this.code = ''
          this.theVM.selectedProduct = ''
          this.hasKey = false
          this.choseProduct = false
          this.inputAmount = ''
          this.theVM.hasMoney = false
          this.theVM.noMoney = false
          this.theVM.hasChange = false
        },
        sayMessage: function(message){
          var synth = window.speechSynthesis
          var voices = synth.getVoices()
          var utterThis = new SpeechSynthesisUtterance(message)
          utterThis.rate = 1.2
          utterThis.pitch = 1.2
          utterThis.voices = voices[0]
          synth.speak(utterThis)
        }

      }
      })
  </script>


</body>
</html>
