<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VendingMachine 2021</title>
  <link rel="stylesheet" type="text/css" href="styles/table_style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<section id="vending-machine">
  <div id="theMachine">
  <div id="window">
    <table id="productScreen">
      <tr>
        <td>
          <div class="products">
            <img src="images/coke.jfif" alt="Bottle of Coke" width="100" height="100">
            <p>123</p>
          </div>
        </td>
        <td>
          <div class="products">
            <img src="images/cokeZero.jpg" alt="Bottle of Coke zero" width="100" height="80">
            <p>137</p>
          </div>
        </td>
        <td>
          <div class="products">
            <img src="images/fanta.jpg" alt="Bottle of fanta" width="100" height="80">
            <p>158</p>
          </div>
        </td>
        <tr></tr>
        <td>
          <div class="products">
            <img src="images/h2go.jpg" alt="Bottle of h2go" width="100" height="80">
            <p>267</p>
          </div>
        </td>
        <td>
          <div class="products">
            <img src="images/landp.jpg" alt="Bottle of l and p" width="100" height="80">
            <p>289</p>
          </div>
        </td>
        <td>
          <div class="products">
            <img src="images/powerade.jfif" alt="Bottle of powerade" width="100" height="80">
            <p>254</p>
          </div>
        </td>
      </tr>
      <tr></tr>
        <td>
          <div class="products">
            <img src="images/sparkWater.jfif" alt="Bottle of sparkling water" width="100" height="80">
            <p>312</p>
          </div>
        </td>
        <td>
          <div class="products">
            <img src="images/sprite.jpg" alt="Bottle of sprite" width="100" height="80">
            <p>356</p>
          </div>
        </td>
        <td>
          <div class="products">
            <img src="images/water.jfif" alt="Bottle of water" width="100" height="80">
            <p>380</p>
          </div>
        </td>
      </tr>   
      </table>
    </output>
      </table>
      <div id="productDispenser">
        <output id="paymentOutput">
          <p v-if="theVM.hasMoney">{{theVM.selectedProduct.name}} Product Dispensed</p>
          <p v-if="theVM.noMoney">Insert more coins to purchase</p>
        </output>
      </div>

  </div>

  <div id="interface">
    <div id="interfaceScreen">
      <p v-if="hasKey">{{this.code}}</p>
      <p v-if="choseProduct">{{this.theProductName}} {{this.theProductPrice}}c</p>
      <p>{{this.inputAmount}}</p>
    </div>
    <table id="keypad">
      <tr></tr>
      <td><input class="keys" type="button" value="1" v-on:click="add1"></td>
      <td><input class="keys" type="button" value="2" v-on:click="add2"></td>
      <td><input class="keys" type="button" value="3" v-on:click="add3"></td>
    </tr>
    <tr>
     <td><input class="keys" type="button" value="4" v-on:click="add4"></td>
      <td><input class="keys" type="button" value="5" v-on:click="add5"></td>
      <td><input class="keys" type="button" value="6" v-on:click="add6"></td>
    </tr>
    <tr>
      <td><input class="keys" type="button" value="7" v-on:click="add7"></td>
      <td><input class="keys" type="button" value="8" v-on:click="add8"></td>
      <td><input class="keys" type="button" value="9" v-on:click="add9"></td>
    </tr>
    <tr>
      <td><input class="keys" type="button" value="OK" v-on:click="okClick"></td>
      <td><input class="keys" type="button" value="0" v-o:nclick="add0"></td>
      <td><input class="keys" type="button" value="EXIT" v-on:click="giveChange"></td>
    </tr>
    </table>
 

  <div id="target" ondrop="drop_handler(event)" ondragover="dragover_handler(event)">
    <img src="images/insertCoin.png" alt="insert coin image" width="100px" height="80px">
  </div>

  <div id="changeDispense">
    <p v-if="theVM.hasChange">Change:</p>
    <p v-if="theVM.hasChange">{{this.theVM.change}}</p>
  </div>
  </div>
 </div>


  <div id="customerCoinProduct">

    <div v-if="hasCustomerData" id="customerBox">
      <h2>Customer {{selectedCustomerID}}</h2>
      <select v-on:change="customerSelected($event)" name="Customers" id="customers">
        <option>Select Customer</option>
        <option v-for="customer in getCustomers()" v-bind:value="customer.id" id="selectedCustomer">{{customer.id}}</option>
      </select>
    </div>

      <div v-if="hasCoinData" id="coins">
        <div><img id="coin2" src="images/coin2.jfif" alt="Two dollar coin" draggable="true" ondragstart="dragstart_handler(event)" width="60" height="60"></div>
        <div><img id="coin1" src="images/coin1.jpg" alt="one dollar coin" draggable="true" ondragstart="dragstart_handler(event)" width="56" height="56"></div>
        <div><img id="coin50" src="images/coin05.jpg" alt="fifty cent coin" draggable="true" ondragstart="dragstart_handler(event)" width="54" height="54"></div>
        <div><img id="coin20" src="images/coin02.jfif" alt="Twenty cent coin" draggable="true" ondragstart="dragstart_handler(event)" width="50" height="50"></div>
        <div><img id="coin10" src="images/coin01.jpg" alt="Ten cent coin" draggable="true" ondragstart="dragstart_handler(event)" width="45" height="45"></div>
      </div>
      <div v-if="pressedButton">
        <button id="prePopulateBtn" type="button" v-on:click="prePopulate">Click This!</button>
      </div>
  <div id="objectValues">
    <div id="customerValues">
      <table>  
        <tr class="objectTables">
          <th colspan="2">Customer</th>
        </tr>
        <tr class="objectTables">
        <td>ID</td>
        <td>Amount</td> 
        </tr> 
        <output id="customerOutput" v-if="hasCustomerData">
          <tr class="objectTables" v-for="customer in getCustomers()">
          <td>{{customer.id}}</td>
          <td>{{customer.amount}}c</td>
        </tr>
      </output> 
      </table>
    </div>

  <div id="productValues">
    <table>
      <tr class="objectTables">
        <th colspan="4">Products</th>
      </tr>
      <tr class="objectTables">
        <td>Code</td>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
      </tr>
      <output class="productOutput" v-if="hasProductData">
        <tr class="objectTables" v-for="product in getProducts()">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}c</td>
          <td>{{product.quantity}}</td>
      </tr>   
      </table>
    </output>
      
  </div>

  <div id="coinValues">
    <table> 
      <tr class="objectTables">
      <th colspan="2">Coins</th>
      </tr>
      <tr class="objectTables">
      <td>Value</td>
      <td>Quantity</td>
      </tr>
    <output id="CoinOutput" v-if="hasCoinData">
      <tr class="objectTables"  v-for="coin in getCoins()">
      <td>{{coin.value}}c</td>
      <td>{{coin.amount}}</td>
      </tr> 
    </table>
    </output>
  </div>
</div>
</section>



 


  <script src='View.js'></script>

  <script src="src/VendingMachine.js"></script>

  <script src="src/Coin.js"></script>

  <script src ="src/Product.js"></script>

  <script src ="src/Customer.js"></script>

  <script>
    function dragstart_handler(ev) {
     // Add the target element's id to the data transfer object
     ev.dataTransfer.setData("coin", ev.target.id);
     ev.dataTransfer.effectAllowed = "move";
    }
    function dragover_handler(ev) {
     ev.preventDefault();
     ev.dataTransfer.dropEffect = "move"
    }
    function drop_handler(ev) {
     ev.preventDefault();
     // Get the id of the target and add the moved element to the target's DOM
     const data = ev.dataTransfer.getData("coin");
     ev.target.appendChild(document.getElementById(data));
     console.log(data)
      app.coinValue = data
      console.log(app.coinValue)
       app.coinDeposited()
     }
    </script>



  <script>
    var app = new Vue({
      el: '#vending-machine',
      data: {
        theProductName: '',
        theProductPrice: '',
        inputAmount: '',
        coinValue: '',
        keyCode: '',
        code: '',
        choseProduct: false,
        hasKey: false,
        hasProductData: false,
        hasCoinData: false,
        hasCustomerData: false,
        selectedProductID: '',
        selectedProduct: '',
        selectedCustomerID: "select",
        selectedCustomer:'',
        pressedButton: true,
        theVM: new VendingMachine()

        },
        methods: {
          prePopulate: function() {
	        this.theVM.addProduct(123, 'Coke', 300, 20)
	        this.theVM.addProduct(137, 'Coke Zero', 300, 15)
	        this.theVM.addProduct(158, 'Fanta', 300, 18)
	        this.theVM.addProduct(267, 'H2GO', 240, 12)
	        this.theVM.addProduct(289, 'L&P', 270, 8)
	        this.theVM.addProduct(254, 'Powerade', 320, 10)
	        this.theVM.addProduct(312, 'Spark Kiwi Blue', 230, 15)
	        this.theVM.addProduct(356, 'Sprite', 300, 7)
	        this.theVM.addProduct(380, 'Kiwi Blue', 300, 15)
          this.theVM.addCoin('coin2', 200, 30)
	        this.theVM.addCoin('coin1', 100, 30)
	        this.theVM.addCoin('coin50', 50, 30)
          this.theVM.addCoin('coin20', 20, 30)
          this.theVM.addCoin('coin10', 10, 30)
	        this.theVM.addCustomer(15, 400)
	        this.theVM.addCustomer(12, 600)
	        this.theVM.addCustomer(13, 1000)
	        this.getProducts()
	        this.getCoins()
	        this.getCustomers()
          this.pressedButton = false
          this.hasCustomerData = true
          this.hasCoinData = true
          this.hasProductData = true
        },

        getProducts: function () {
          return this.theVM.allMyProducts
        },
        getCoins: function () {
          return this.theVM.allMyCoins
        },
        getCustomers: function () {
          return this.theVM.allMyCustomers
        },
        customerSelected(event) {   
         // console.log(event.target.value)
          this.selectedCustomerID = Number(event.target.value)
          //console.log(this.selectedCustomerID)
          this.theVM.selectedCustomer = this.theVM.findCustomer(this.selectedCustomerID)
          //console.log(this.theVM.selectedCustomer)
          //console.log(this.theVM.selectedCustomer.amount)
        },

        purchaseProduct: function(){
          this.theVM.purchase = this.inputAmount
          if (this.theVM.purchase > this.theVM.selectedCustomer.amount) {
            alert('The Customer doesnt have that much money')
          
        }
          this.theVM.conditionsOfPurchase()
          this.theVM.purchase = ''
          this.inputAmount = ''
          this.theProductName = ''
          this.theProductPrice = ''
          this.code = ''
          this.keyCode = ''
          this.choseProduct = false
          this.hasKey = false

          },

          okClick: function(){
            let choseCustomer = true
            let inputCoin = true
            if (this.selectedCustomerID == "select") {
            alert('please select a Customer')
            choseCustomer = false

            }
            if (this.inputAmount == '') {
              alert('Please insert a Coin')
              inputCoin = false
            }
            if (choseCustomer && inputCoin) {
              this.purchaseProduct()           
            }
          
          },
        
        // work out change next how to do the drop and drag THIS IS WHERE YOU STOPPED!!!!!
        checkKeyCode: function() {
         if (this.keyCode.length == 3) {
            this.hasKey = true
            this.code = this.keyCode
            this.selectedProductID = Number(this.code)
            console.log(this.selectedProductID)
            this.theVM.selectedProduct = this.theVM.findProduct(this.selectedProductID)
            this.theProductPrice = this.theVM.selectedProduct.price
            this.theProductName = this.theVM.selectedProduct.name
            this.choseProduct = true
         }
         },
         add1: function(){
         this.keyCode = this.keyCode + "1"
         this.checkKeyCode()
         console.log(this.keyCode)
         },
         add2: function(){
         this.keyCode = this.keyCode + "2"
         this.checkKeyCode()
         },
         add3: function(){
         this.keyCode = this.keyCode + "3"
         this.checkKeyCode()
         },
         add4: function(){
         this.keyCode = this.keyCode + "4"
         this.checkKeyCode()
         },
         add5: function(){
         this.keyCode = this.keyCode + "5"
         this.checkKeyCode()
         },
         add6: function(){
         this.keyCode = this.keyCode + "6"
         this.checkKeyCode()
         },
         add7: function(){
         this.keyCode = this.keyCode + "7"
         this.checkKeyCode()
         },
         add8: function(){
         this.keyCode = this.keyCode + "8"
         this.checkKeyCode()
         },
         add9: function(){
         this.keyCode = this.keyCode + "9"
         this.checkKeyCode()
         },
         add0: function(){
         this.keyCode = this.keyCode + "0"
         this.checkKeyCode()
         },
         giveChange: function() {
         console.log("something")
         },
         coinDeposited: function() {
          console.log("worked")
          console.log(this.theVM.allMyCoins)
          this.theVM.insertedCoin = this.theVM.findCoin(this.coinValue)
          console.log(this.theVM.insertedCoin)
          this.inputAmount = Number(this.inputAmount) + this.theVM.insertedCoin.value
        
        }
      }
      })
  </script>


</body>
</html>
